<div class="row">
	<div class="col-xs-10">
		<b>Word points test:</b>
		<br />
		{{ wordPoints | json }}
		<br />
		<br />
		<b>Total score test:</b>
		<div *ngFor="let list of listScores">
			List: {{ list.words | json }} - Total score: {{ list.totalScore | json }}
		</div>
		<br />
		<br />
		<b>Multiplayer total score test:</b>
		<div *ngFor="let player of players" style="margin-bottom:8px">
			Name: {{ player.name }}
			<br />
			Words: {{ player.words | json }}
			<br />
			Score: {{ getScoreForPlayer(player) }}
		</div>
	</div>
	<div class="col-xs-2">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Word length</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3, 4</td>
					<td>1</td>
				</tr>
				<tr>
					<td>5</td>
					<td>2</td>
				</tr>
				<tr>
					<td>6</td>
					<td>3</td>
				</tr>
				<tr>
					<td>7</td>
					<td>5</td>
				</tr>
				<tr>
					<td>8+</td>
					<td>11</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
