<div class="row">
	<div class="col-xs-4">
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">Current word</div>
				<div class="panel-body">
					<button class="btn btn-primary" style="float:left" *ngIf="selectedDices.length" [disabled]="!playEnabled" (click)="addToList()">Add to list</button>
					<div style="float:left; margin-left:10px">{{ selectedDices.length ? getCurrentWord() : "&nbsp;" }}</div>
				</div>
			</div>
		</div>
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">Found words</div>
				<div class="panel-body">
					<div *ngIf="wordsList.length; else noWords">
						<div>
							<span *ngFor="let word of wordsList" class="label label-default label-found-word">{{ word }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<table class="table table-bordered game-table">
			<tbody>
				<tr *ngFor="let columnDices of gameBoard">
					<td *ngFor="let dice of columnDices" (click)="diceClicked(dice, $event)">
						<div class="cell" (click)="diceClicked(dice, $event)">{{ dice.letter | uppercase }}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-4">
		<div>
			<div class="row">
				<div class="col-xs-12" style="margin-bottom:20px">
					<button class="btn btn-primary btn-block" [disabled]="playEnabled" (click)="startGame()">START NEW GAME</button>
				</div>
				<div class="col-xs-6">
					<div class="panel panel-default">
						<div class="panel-body" style="text-align:center" [style.background-color]="playEnabled ? 'gold' : 'initial'">
							Time: <span style="margin-left:5px; font-weight:bold">{{ getTimerValue() }}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel panel-default">
						<div class="panel-body" style="text-align:center" [style.background-color]="playEnabled ? 'gold' : 'initial'">
							Score: <span style="margin-left:5px; font-weight:bold">{{ getCurrentScore() }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noWords>
	<div style="font-style:italic; font-size:14px; text-transform:initial">Nothing found yet!</div>
</ng-template>
