table.game-table td {
	width: 25%;
	position: relative;
	border: 10px solid #dddddd;
	cursor: pointer;
}
table.game-table td:after {
	content: "";
	display: block;
	margin-top: 100%;
}
table.game-table td.selected {
	color: white;
	background-color: #337ab7;
}
table.game-table td .cell {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 4em;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.panel .panel-heading {
	font-weight: bold;
}
.panel .panel-body {
	font-size: 24px;
	text-transform: uppercase;
}

.label-found-word {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 8px;
	background: transparent;
	color: #337ab7;
	border: 1px solid #337ab7;
	font-weight: normal;
}
