<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Boggle</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
					<a routerLink="/calculator">Score Calculator</a>
				</li>
				<li routerLinkActive="active">
					<a routerLink="/game">Play Game</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid main-content">
	<router-outlet></router-outlet>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
